* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body [hidden] {
	display: none;
}

html,
body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body,
input,
select,
textarea,
button {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

body {
	font-weight: 300;
	background-color: #fff;
}

body {
	color: #000;
}

a,
.btn-default,
.btn-info,
.btn-primary,
.btn-danger {
	color: #ea3b3b;
	transition: all 0.15s ease;
}

a:hover,
.btn-default:hover,
.btn-info:hover,
.btn-primary:hover,
.btn-danger:hover {
	color: #000;
}

strong,
b {
	font-weight: 700;
}

body.-shhh .-tbd {
	display: none;
}

body.-lets-go .-pre-event {
	display: none;
}

.wrapper,
.grid {
	zoom: 1;
	clear: both;
}

.wrapper:before,
.wrapper:after,
.grid:before,
.grid:after {
	content: "";
	display: table;
}

.wrapper:after,
.grid:after {
	clear: both;
}

.grid > * {
	display: inline-block;
	vertical-align: top;
}

.grid-padded {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -20px;
}

.grid-padded > * {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}

.width-1-1 {
	width: 100%;
}

.width-1-2 {
	width: 50%;
}

.width-1-3 {
	width: 33.33333%;
}

.width-1-4 {
	width: 25%;
}

.width-1-5 {
	width: 20%;
}

.width-1-6 {
	width: 16.66667%;
}

.width-1-7 {
	width: 14.28571%;
}

.width-2-3 {
	width: 66.66667%;
}

.width-2-5 {
	width: 40%;
}

.width-2-7 {
	width: 28.57143%;
}

.width-3-4 {
	width: 75%;
}

.width-3-5 {
	width: 60%;
}

.width-3-7 {
	width: 42.85714%;
}

.width-4-5 {
	width: 80%;
}

.width-4-7 {
	width: 57.14286%;
}

.width-5-6 {
	width: 83.33333%;
}

.width-5-7 {
	width: 71.42857%;
}

.width-6-7 {
	width: 85.71428%;
}

.input {
	line-height: 21px;
	margin: 0;
	padding: 10px 2px;
	border: 1px solid #adadad;
	background-color: #fff;
	vertical-align: top;
}

.input:hover,
.input:focus {
	padding-bottom: 9px;
	border-bottom-width: 2px;
	border-bottom-color: #adadad;
	outline: 0;
}

.input:invalid:focus {
	border-color: #adadad;
}

.input[disabled] {
	color: #adadad;
	background-color: #adadad;
}

.input[disabled]:hover,
.input[disabled]:focus {
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #adadad;
}

.btn-default,
.btn-info,
.btn-primary,
.btn-danger {
	display: inline-block;
	line-height: 21px;
	margin: 0;
	padding: 12px 40px;
	border: 2px solid #ea3b3b;
	border-radius: 3px;
	background-color: transparent;
	color: #ea3b3b;
	vertical-align: top;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	color: #fff;
	background-color: #ea3b3b;
	outline: 0;
}

.btn-default:active,
.btn-info:active,
.btn-primary:active,
.btn-danger:active {
	background-color: #c31616;
}

.btn-small {
	padding: 6px 20px;
}

.btn-info {
	color: #fff;
	background-color: #ea3b3b;
}

.btn-info:active {
	background-color: #c31616;
}

.btn-primary {
	color: #fff;
	border-color: transparent;
	background-color: #ea3b3b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #c31616;
}

.btn-danger {
	border-color: #ea3b3b;
	background-color: #ea3b3b;
}

.btn-danger:active {
	background-color: #ea3b3b;
}

.nowrap {
	white-space: nowrap;
}

body .pull-left {
	float: left;
}

body .pull-right {
	float: right;
}

body .text-left {
	text-align: left;
}

body .text-center {
	text-align: center;
}

body .text-right {
	text-align: right;
}

body .align-middle {
	vertical-align: middle;
}

body .align-middle-filler {
	display: inline-block;
	width: 1px;
	height: 100%;
	margin-right: -1px;
	vertical-align: middle;
}

.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.padding {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.list-linear,
.list-stacked {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list-linear,
.list-linear > li {
	display: inline-block;
}

.nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 60px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	z-index: 10;
}

.nav .wrapper {
	position: relative;
}

.nav.-fixed {
	position: fixed;
	top: 0;
	bottom: auto;
}

.nav.-fixed .logo-nav,
.nav.-fixed .nav-cta {
	opacity: 1;
}

.logo-nav,
.nav-cta,
.nav-open {
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.5s ease;
}

.logo-nav .logo-img {
	width: 60px;
	margin-right: 5px;
}

.logo-nav .logo-text {
	margin-top: -7px;
	font-size: 0.875em;
	text-align: left;
	font-weight: 700;
}

.nav-cta,
.nav-open {
	top: 11px;
	left: auto;
	right: 0;
}

.nav-menu {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

.nav-item {
	line-height: 60px;
	margin: 0 20px;
	font-size: 0.8125em;
	font-weight: 700;
	text-transform: uppercase;
}

.nav-item,
.nav-item a,
.nav-item .btn-default,
.nav-item .btn-info,
.nav-item .btn-primary,
.nav-item .btn-danger {
	color: #adadad;
	text-decoration: none;
}

.nav-item a:hover,
.nav-item .btn-default:hover,
.nav-item .btn-info:hover,
.nav-item .btn-primary:hover,
.nav-item .btn-danger:hover {
	color: #ea3b3b;
}

.section {
	color: #888;
}

.section h1,
.section p {
	margin-top: 40px;
	margin-bottom: 40px;
}

.section .wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-title {
	position: relative;
	font-size: 1em;
	margin: 0 auto;
	max-width: 808px;
}

.section-title::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #d3d3d3;
	z-index: 1;
}

.section-title span {
	position: relative;
	display: inline-block;
	padding: 0 40px;
	font-size: 1.875em;
	color: #000;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #fff;
	z-index: 2;
}

.section-hero {
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/amsterdam.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-hero .wrapper {
	padding: 0;
	height: 100%;
}

.logo {
	margin: 0;
}

.logo-img,
.logo-text {
	display: inline-block;
	vertical-align: middle;
}

.logo-img {
	width: 200px;
	margin-right: 20px;
}

.logo-text {
	margin: 0;
	font-size: 2.5em;
}

.logo-text,
.hero-teaser {
	font-weight: 700;
	text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2), 0px -1px 1px rgba(0, 0, 0, 0.2);
}

.hero-teaser {
	font-size: 1.25em;
	margin: 0 0 30px 0;
}

.section-footer {
	font-size: 0.875em;
	color: #fff;
	background-color: #adadad;
}

@media only screen and (min-width: 768px) {

.width-md-1-1 {
	width: 100%;
}

.width-md-1-2 {
	width: 50%;
}

.width-md-1-3 {
	width: 33.33333%;
}

.width-md-1-4 {
	width: 25%;
}

.width-md-1-5 {
	width: 20%;
}

.width-md-1-6 {
	width: 16.66667%;
}

.width-md-1-7 {
	width: 14.28571%;
}

.width-md-2-3 {
	width: 66.66667%;
}

.width-md-2-5 {
	width: 40%;
}

.width-md-2-7 {
	width: 28.57143%;
}

.width-md-3-4 {
	width: 75%;
}

.width-md-3-5 {
	width: 60%;
}

.width-md-3-7 {
	width: 42.85714%;
}

.width-md-4-5 {
	width: 80%;
}

.width-md-4-7 {
	width: 57.14286%;
}

.width-md-5-6 {
	width: 83.33333%;
}

.width-md-5-7 {
	width: 71.42857%;
}

.width-md-6-7 {
	width: 85.71428%;
}

.logo-nav,
.nav-cta,
.nav-open {
	opacity: 0;
}

.nav-menu {
	padding: 0 100px;
}

.nav-item {
	display: inline-block;
}

.nav-open {
	display: none;
}

.section-text {
	line-height: 1.7;
}

.section-hero {
	height: 100vh;
	padding-bottom: 60px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1279px) {

.hidden-md,
.visible-sm,
.visible-lg {
	display: none;
}

.wide-md {
	max-width: 100%;
}

.wrapper {
	width: 748px;
}

.nav-item {
	margin: 0 10px;
}

.logo-img {
	width: 100px;
}

.logo-text {
	font-size: 1.875em;
}

}

@media only screen and (min-width: 1280px) {

.width-lg-1-1 {
	width: 100%;
}

.width-lg-1-2 {
	width: 50%;
}

.width-lg-1-3 {
	width: 33.33333%;
}

.width-lg-1-4 {
	width: 25%;
}

.width-lg-1-5 {
	width: 20%;
}

.width-lg-1-6 {
	width: 16.66667%;
}

.width-lg-1-7 {
	width: 14.28571%;
}

.width-lg-2-3 {
	width: 66.66667%;
}

.width-lg-2-5 {
	width: 40%;
}

.width-lg-2-7 {
	width: 28.57143%;
}

.width-lg-3-4 {
	width: 75%;
}

.width-lg-3-5 {
	width: 60%;
}

.width-lg-3-7 {
	width: 42.85714%;
}

.width-lg-4-5 {
	width: 80%;
}

.width-lg-4-7 {
	width: 57.14286%;
}

.width-lg-5-6 {
	width: 83.33333%;
}

.width-lg-5-7 {
	width: 71.42857%;
}

.width-lg-6-7 {
	width: 85.71428%;
}

.hidden-lg,
.visible-sm,
.visible-md {
	display: none;
}

.wide-lg {
	max-width: 100%;
}

.wrapper {
	width: 1260px;
}

.section-text {
	margin: 0 auto;
	max-width: 748px;
}

}

@media only screen and (max-width: 767px) {

body {
	font-size: 1em;
}

.hidden-sm,
.visible-md,
.visible-lg {
	display: none;
}

.wide-sm {
	max-width: 100%;
}

.padding {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.nav {
	position: fixed;
	top: 0;
	bottom: auto;
}

.logo-nav,
.nav-cta,
.nav-open {
	left: 10px;
}

.nav-cta,
.nav-open {
	left: auto;
	right: 10px;
}

.nav-cta {
	display: none;
}

.nav-menu {
	display: none;
	margin-top: 60px;
}

.nav-menu a,
.nav-menu .btn-default,
.nav-menu .btn-info,
.nav-menu .btn-primary,
.nav-menu .btn-danger {
	color: #fff;
}

.nav-menu.-opened {
	display: block;
}

.section-title span {
	font-size: 1.375em;
	padding: 0 20px;
}

.section-hero {
	height: 400px;
	padding-top: 60px;
}

}

